.gameSpace {
  position: relative;
  height: 241px;
  width: 320px;
  display: inline-block;
  overflow: hidden;
}

.mole {
  transition: margin-top;
  transition-duration: 0.25s;
  position: absolute;
  height: 131px;
  width: 188px;
  left: 55px;
  top: 50px;
}

.dirt {
  position: absolute;
  height: 110px;
  width: 320px;
  top: 131px;
}

.gameSpace__mole--hidden {
  margin-top: 215px;
  /* transition: margin-top;
  transition-duration: 0.25s; */
}
