.gameSpace {
  position: relative;
  height: 482px;
  width: 640px;
  display: inline-block;
  overflow: hidden;
}

.mole {
  position: absolute;
  height: 262px;
  width: 376px;
  left: 110px;
  top: 100px;
}

.dirt {
  position: absolute;
  height: 220px;
  width: 640px;
  top: 262px;
  /* bottom: 0px */
}

.gameSpace__mole--hidden {
  margin-top: 430px;
}
